<section>
  <div class="container">
    <div class="home-slider">
      <div>
        <a  href="javascript:void(0)" title="RS-Banner-01">
          <img src="assets/images/RS-Banner-01.jpg" alt="RS-Banner-01">
        </a>
      </div>
      <div>
        <a  href="javascript:void(0)"  title="RS-Banner-02">
          <img src="assets/images/RS-Banner-02.jpg" alt="RS-Banner-02">
        </a>
      </div>
      <div>
        <a  href="javascript:void(0)" title="RS-Banner-03">
          <img src="assets/images/RS-Banner-03.jpg" alt="RS-Banner-03">
        </a>
      </div>
    </div>
  </div>
</section>
