/*  Common Css Starts */
.card { border:none; }
.card-footer { background-color: transparent; }


.form-control{
    height: 42px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-shadow: none;
}

.form-group label {
    color: #696b79;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 3px;
}

.AddressForm  .row, .customFrom .row { display: block; }
.form-control::-webkit-input-placeholder {
    color: #afb4bd;
    font-size: 13px;
    line-height: 15px;
}

.form-control:-ms-input-placeholder {
    color: #afb4bd;
    font-size: 13px;
    line-height: 15px;
}

.form-control::placeholder {
    color: #afb4bd;
    font-size: 13px;
    line-height: 15px;
}

.custom-select:focus, .form-control:focus {border-color: #d5d5d5; box-shadow:0 0 0 0.2rem rgba(0,0,0,0.06); }


a, a:hover {
    color: #00b86b;
}

.font-weight-medium { font-weight: 500; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: 'Rubik', sans-serif; font-weight: 400;}
.h1, h1 {
    font-size: 1.625rem; /*26px*/
    font-weight: 500;
}

.h2, h2 {
    font-size: 1.375rem; /*22px*/
    font-weight: 500;
}

.h3, h3 {
    font-size: 1.25rem;/*20px*/
}

.h4, h4 {
    font-size: 1.125rem;/*18px*/
    font-weight: 500;
}

.h5, h5 {
    font-size: 1rem;/*16px*/
    font-weight: 500;
}


.h6, h6 {
    font-size: 0.875rem;/*14px*/
    font-weight: 500;
}


.btn-secondary.disabled:hover, .btn-secondary:disabled:hover,
.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #dbdbdb;
    color: #fff;
    border-color: #dbdbdb;
}

.btn-secondary {
    padding: 10px 30px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-family: Rubik,sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 8px;
    background-color: #ff6944;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #ff6944;
}

.btn-secondary:focus, .btn-secondary.focus,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
    box-shadow: none;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:focus, .btn-light.focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    box-shadow: none;
}

.btn-primary {
    background-color: #00bd85;
    border-color: #00bd85;
}

.btn-primary:hover {
    background-color: #03a374;
    border-color: #03a374;
}

.btn-outline-primary {
    color: #00bd85;
    border-color: #00bd85;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #00bd85;
    border-color: #00bd85;
}



.text-primary {
    color: #00bd85 !important;
}


/*  Common Css Ends */

.totals span:first-child,
.shipping-price span:first-child { font-weight: 500; }
.summaryShipppingAddress {
    .card-body {
        padding-left: 0;
        padding-right: 0;
    }
    .card-title {
        text-transform: uppercase;
    }
}

.loginSidebar .list-group-item { padding-left: 0; padding-right: 0; }
.loginSidebar .list-group-item.active {
    color: #ff6944;
    background: none;
    border-color:transparent;
    font-weight: bold;
    border-bottom: 1px solid #ff6944;
}

.loginSidebar .list-group-item-action:hover,
.loginSidebar .list-group-item-action:focus {
    color: #ff6944;
    background-color: transparent;
}

.alert-info {
    color: #0c5460;
    background-color: #bef9e7;
    border-color: #a6ebd6;
}


.modal-content { width: 500px; height: 600px; overflow-y: auto; border:none; }
.modal-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}
.modal-content .col-sm-9 { max-width: 100%; }
.w400 { width: 400px; }
