@import "bootstrap";
@import "bootstarp-overwrite.scss";
@import "~@angular/cdk/overlay-prebuilt";


@import "variables";
body{font-family: 'Rubik', sans-serif;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: 'Rubik', sans-serif;}
.loading-placeholder {
    position: relative;
    overflow: hidden;
    background-color: $gray-100;
    &::after {
        content: "";
        display: block;
        background-color: $gray-200;
        opacity: 0.3;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transform: translateX(0);
        animation: 1.5s loading-placeholder ease-in-out infinite;
    }
}

@keyframes loading-placeholder {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

img[data-zoom] {
    cursor: crosshair;
}
.vsf-zoom-zoom-pane {
    box-shadow: $box-shadow-lg;
}

vsf-collections-menu{
    background: linear-gradient(
            90.09deg
        ,#00bd90 .04%,#00bd62 100.26%);
}
.nav-link{
color: #fff;
}
vsf-product-search-bar {
    .form-control{
        background-color: #f4f4f4;
        width: 100%;
        line-height: normal;
        border-right: 0;
        border-radius: 18px  !important;
        box-shadow: none;
        border: none;
        padding: 10px 30px 10px 16px;
    }
}
vsf-cart-toggle{
    button{
         background: url(../assets/images/sprite-img.png) no-repeat -183px -20px;  width: 26px;  height: 24px;
        vertical-align: top; display: inline-block; border: none;
    }
}

vsf-account-link{
    .icon{
        margin-right: 10px; background: url(../assets/images/sprite-img.png) no-repeat -104px -20px;  width: 26px;  height: 27px; display: inline-block;
    }
    span{ display: inline-block; vertical-align: middle; }
    .icon-text{display: inline-block !important; 	font-size: 14px;	font-weight: 500;	line-height: 16px; color: #333; text-align: left;
    span{display: block; font-size: 11px;font-weight: 300;display: block;}
    }
}

.product-title{
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0 30px 0;
    line-height: 30px;
    color: #1b1b1b;
    text-transform: uppercase;
    display: block;
}
.section-titlebar{
    color: #1b1b1b;
    text-transform: uppercase;
    margin-top: 5px;
}

.product-card{}
.product-list vsf-product-card .product-card{border-right: 1px solid #e8e8e8; padding: 0 38px 0 0;}
vsf-home-page .product-list vsf-product-card:nth-child(6n+6) .product-card{ border-right: none;}
.m-t-lg{margin-top: 50px;}
vsf-product-list .product-list vsf-product-card:nth-child(5n+5) .product-card{ border-right: none;}


@media screen and (max-width: 2500px) and (min-width: 1920px) {
    .container{max-width:1800px; }

}

@media screen and (max-width: 1919px) and (min-width: 1520px) {
    .container{max-width:1480px; width: 1480px; }
}

@media screen and (max-width:1519px) {
    .container{max-width: 1200px; width: 1200px;}
}
@media screen and (max-width:1199px){
    .container{ max-width: 1000px; width: 1000px;}
    .editor-header .pageName{width: 30%;}
}
@media screen and (max-width:1023px){
    .container{ max-width: 100%; width: 100%;}
}
