@import "variables";

:host {
    display: none;
    margin-bottom: 0;
    background-color: $light;
    //overflow: auto;

    .nav-wrapper {
        width: max-content;
    }

    @include media-breakpoint-up(sm) {
        display: block;
        .nav-wrapper {
            @include make-container-max-widths();
            width: 100%;
            margin: auto;
        }
    }
}

.collections-menu-sub-collections {
    width: 100vw;
    background-color: white;
    padding: $spacer 0;
    position: absolute;
    z-index: $zindex-dropdown;
    box-shadow: 0px 1em 14px -6px rgba(0, 0, 0, 0.15);

    a {
        display: block;
    }

    .level-1-link {
        font-weight: bold;
    }

    .level-2-link {

    }
}

.nav-link {
    &:hover, &.active {
        background-color: white;
    }
}

.level-1-block {
    margin-right: $spacer * 2;
}







.sidemenu{ position: relative;padding: 14px 15px 14px 0; border-right: 1px solid rgba(238,238,238,.25);}
.sidemenu .side-megamenu{   position: absolute; margin-top: 0; top:100%; left:0; background: #fff; width: 320px;  z-index: 100; border: 1px solid #DBDBDB;	box-shadow: 0 12px 29px -3px rgba(0,0,0,0.28); padding:0; border-top: none;}
.menutitle{ font-family: 'Rubik', sans-serif; text-transform: uppercase;	border-bottom: 1px solid #cfcfcf;  padding: 20px; margin: 0; 	color: #282C3F;	font-size: 18px;	font-weight: 500;	line-height: 21px;}
.menutitle .close{opacity: 1; margin-top: 2px; vertical-align: middle; background: url(../../../../assets/images/sprite-img.png) no-repeat -170px -70px; display: inline-block; width: 15px; height: 15px;}
.menutitle a{ width: 90%; padding: 0;  display: inline-block; vertical-align: middle; color: #282C3F;	text-transform: uppercase;	font-size: 18px;	font-weight: 500;	line-height: 21px; text-decoration: none;}

 .side-megamenu{ display: none;}
 .side-megamenu.active{ display: inline-block; }


 .sidemenu .side-megamenu ul{padding: 0; margin: 0;}
 .sidemenu .side-megamenu ul li{padding: 0; margin: 0; list-style: none; width: 100%; }

 .sidemenu .side-megamenu ul li:hover > a{color: #00B86B;}
 .sidemenu .side-megamenu ul li a{ padding: 5px 20px; color: #282C3F;	font-size: 16px;	line-height: 36px; display: block;}

.collections-menu-sub-collections{z-index:101; padding: 0; margin-left: 0;   left:350px; top:60px; min-height: 250px;  height: auto; width: 700px; background: #fff; position: absolute; border: 1px solid #DBDBDB;	border-radius: 2px;	box-shadow: 0 12px 29px -3px rgba(0,0,0,0.28);}
 .collections-menu-sub-collections .level-1-block{ padding: 0; margin: 0; width: 50%; display: inline-block;}

.collections-menu-sub-collections .menutitle{ display: block;}
.collections-menu-sub-collections .menutitle a{ padding: 0; margin: 0; }
.collections-menu-sub-collections .menutitle-main{ width: 100%; margin-bottom: 0;}


/*** ESSENTIAL STYLES ***/
 .sf-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
 .sf-menu .sf-mega {
    position: absolute;
    display: none;
    top:0;
    left: 0;
    z-index: 99;
}
 .sf-menu > li {
    float: left;
}
 .sf-menu li:hover > .sf-mega,
 .sf-menu li.sfHover > .sf-mega {
    display: block;
}

 .sf-menu > li > a {
    display: block;
    position: relative;
}


/*** DEMO SKIN ***/
 .sf-menu {
    //float: left;
    margin-bottom: 0;
    width: 100%;
}
 .sf-menu .sf-mega {
    width: 320px; /* allow long menu items to determine submenu width */
}

/*** mega menu dropdown ***/
 .sf-mega {
    box-sizing: border-box;
    width: 100%;

}
 .sf-mega-section {
    float: left;
    width: 8em; /* optional */
    padding: 0 1em 1em 0;
    margin-right: 1em;
    border-right: 1px solid #b4c8f5;
    display: none;
}


/*** arrows (for all except IE7) **/
 .sf-arrows .sf-with-ul {
    padding-right: 2.5em;
    *padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
 .sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    /* order of following 3 rules important for fallbacks to work */
    border: 5px solid transparent;
    border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
    border-top-color: rgba(255,255,255,.5);
}
 .sf-arrows > li > .sf-with-ul:focus:after,
 .sf-arrows > li:hover > .sf-with-ul:after,
 .sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: white; /* IE8 fallback colour */
}
.animated {
    padding-top:0;
    margin-bottom:0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}



.for-mobile{ display: none;}
.bottom-header-main .bottom-header .bottom-header-left{display: inline-block; vertical-align: top;}
.bottom-header-main .bottom-header{padding: 0;}
.bottom-header-main .bottom-header .bottom-header-left a{color: #282C3F; }
.bottom-header-main .bottom-header .bottom-header-left .sidemenu a.nav-open .icon{margin-right: 6px; background: url(../../../../assets/images/sprite-img.png) no-repeat -229px -17px;  width: 16px;  height: 18px; display: inline-block; vertical-align: middle; }
.bottom-header-main .bottom-header .bottom-header-left .sidemenu a.nav-open span{ font-size: 14px; color: #fff; line-height: 16px; vertical-align: middle;}
.boxscroll {
    padding:0;
    height: 600px;
    width: 100%;
    overflow: auto;
    margin-bottom:30px;
}

 .sidemenu .side-megamenu ul li ul .perfect-scrollbar-submenu{ overflow-y: auto;}
@media only screen and (max-width:1199px) {
     .sidemenu .side-megamenu ul li ul {
        width: 680px;
    }
}

@media screen and (max-width:1023px) {
     .sidemenu .side-megamenu { width: 260px; z-index: 99999; overflow-y: auto; margin-top:0;}
     .menutitle a{font-size: 16px;}

    .bottom-header-main .bottom-header .bottom-header-left .recipes-link{display: none;}
    .bottom-header-main .bottom-header .bottom-header-left .for-mobile .mobile-link .recipes-link{display: block;}

     .sidemenu .side-megamenu ul li a{background: #F2F2F2;}
     .mobilemenu .menu-nav.active{display: block;}
     .sidemenu .side-megamenu.mobilemenu ul li a{font-size: 14px;	line-height: 30px; background: #fff;  }
     .sidemenu .side-megamenu.mobilemenu ul li ul{display: none; box-shadow: none; position: relative; left: 0; top:0; width: 100%; margin-top: 0; margin-bottom: 0; max-height: none; overflow-y: auto;   max-height: 300px; min-height: auto; z-index: 999; }
     .sidemenu .side-megamenu.mobilemenu ul li ul li{ width: 100%;  }
     .sidemenu .side-megamenu.mobilemenu ul li.active > a{background: #DBDBDB; color: #282C3F; font-weight: 500;}
     .sidemenu .side-megamenu.mobilemenu ul li.active ul{ display: block;}
     .sidemenu .side-megamenu.mobilemenu ul li.active ul li a{background: #fff;}

     .sidemenu .side-megamenu.mobilemenu .menutitle-main{ display: none;}

    .bottom-header-main .bottom-header .bottom-header-left .for-mobile .my-lists-link{color: #fff;}
    .bottom-header-main .bottom-header .bottom-header-left .for-mobile .my-lists-link.collapsed{color: #282C3F;}

    .bottom-header-main .bottom-header .bottom-header-left .for-mobile  .my-lists-link-item span{	color: #888888; font-size: 11px;	line-height: 13px; text-transform: uppercase; padding: 10px 20px 8px 20px; border-bottom: solid 1px #DBDBDB; display: block;}
    .bottom-header-main .bottom-header .bottom-header-left .for-mobile  .my-lists-link-item .custom-checkbox.right{ width: 100%;}
    .bottom-header-main .bottom-header .bottom-header-left .for-mobile  .form-group .custom-checkbox.right label{width: 100%; color: #282C3F;	font-size: 14px;	line-height: 16px;}

    .bottom-header-main .bottom-header .bottom-header-left .for-mobile .my-lists-link-menu{ background-color: #F2F2F2;}
    .bottom-header-main .bottom-header .bottom-header-left .for-mobile .my-lists-link-menu .my-lists-link-item .form-group{padding: 10px 20px; margin-bottom: 0;}
    .bottom-header-main .bottom-header .bottom-header-left .for-mobile .my-lists-link-menu .my-lists-link-item .form-group.first{border-bottom: solid 1px #DBDBDB; }
     .sidemenu .side-megamenu.mobilemenu ul li ul perfect-scrollbar{ height: auto !important; max-height: 300px !important;}
     .sidemenu .side-megamenu ul li ul li.menutitle-main{ display: none;}

    .hts-perfect-scrollbar{max-height: 100% !important; height: 100% !important;}
    .sales-flyer-mobile-link{display: block; width: 100%; border-bottom: 1px solid #DBDBDB;}
.collections-menu-sub-collections{left: 270px; width: 400px; z-index: 999;}
}

@media screen and (max-width:767px) {
     .sidemenu .side-megamenu { margin-top: 6px;}
}
