<div class="container m-t-lg">
    <div class="row">
        <div class="col-12 col-md-12 smart-filter">
            <h2 *ngIf="campaignName">{{ campaignName }}</h2>
            <ng-container *ngIf="(totalResults$ | async) !== 0; else noResults">
                <div class="product-list">
                    <ng-container *ngIf="(totalResults$ | async) !== null; else placeholders">
                        <vsf-product-card *ngFor="let product of products$ | async; trackBy: trackByProductId"
                                          [product]="product"></vsf-product-card>
                    </ng-container>
                    <ng-template #placeholders>
                        <vsf-product-card *ngFor="let product of placeholderProducts"
                                          [product]="product"></vsf-product-card>
                    </ng-template>

                    <div class="load-more flex-fill" *ngIf="displayLoadMore$ | async">
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #noResults>
<!--    <div class="no-results col-12">-->
<!--        <p class="h1">No results</p>-->
<!--        <fa-icon icon="sad-cry" size="10x"></fa-icon>-->
<!--    </div>-->
    <div class="section-products section-noproduct">
        <div class="section-noproduct-inner">
            <img src="assets/images/no_product.png" alt="no product">
            <span>No Products Found</span>
        </div>
    </div>
</ng-template>

