.header {
    background-color: #fff;
    border-bottom: 1px solid #e9ecef;

    > .container {
        display: flex;
        align-items: center;
        padding: 6px;
    }
}

.logo-link {
    display: flex;
    align-items: center;
    width: 183px;
        img{
            max-width: 100%;
            }
    img.logo {
        max-height: 50px;
    }

    &:link, &:visited {
        color: #0e95c7;
        font-size: 22px;
    }
}
