<vsf-layout>

    <vsf-layout-header>
        <div class="header">
            <div class="container">
                <vsf-mobile-menu-toggle></vsf-mobile-menu-toggle>
                <a [routerLink]="['/']" class="logo-link d-none d-md-inline-block ">
                    RapidShop
                </a>
                <div class="flex-grow-1 d-none d-sm-block"></div>
                <vsf-product-search-bar class="flex-grow-1"></vsf-product-search-bar>
                <vsf-account-link class="mr-2"></vsf-account-link>
                <vsf-cart-toggle (toggle)="openCartDrawer()"></vsf-cart-toggle>
            </div>
            <vsf-collections-menu></vsf-collections-menu>
        </div>
    </vsf-layout-header>
    <vsf-collections-menu-mobile [visible]="mobileNavVisible$ | async"></vsf-collections-menu-mobile>
    <vsf-cart-drawer [visible]="cartDrawerVisible$ | async" (close)="closeCartDrawer()"></vsf-cart-drawer>
    <div class="contents">
        <vsf-home-page *ngIf="isHomePage$ | async; else main"></vsf-home-page>
        <ng-template #main>
                <router-outlet></router-outlet>
        </ng-template>
    </div>

<!--    <vsf-layout-footer>-->
<!--        -->
<!--    </vsf-layout-footer>-->
    <vsf-footer></vsf-footer>

</vsf-layout>
