<div *ngIf="activeCustomer$ | async as customer; else notLoggedIn">
    <a class="btn btn-light" [routerLink]="['/account']">
        <span class="icon"></span>
        <span class="d-none d-sm-inline icon-text">{{ userName(customer) }}</span>
    </a>
</div>
<ng-template #notLoggedIn>
    <a class="btn btn-light" [routerLink]="['account/sign-in']">
        <span class="icon"></span>
        <span class="d-none d-sm-inline ml-1 icon-text"><span>Sign In or</span> Register</span></a>
</ng-template>
