<footer>
  <div class="footer-top">
    <div class="footer-top-main clearfix">
      <div class="container">
        <div class="footer-menus">
          <div class="footer-top-menu clearfix">
            <span *ngFor="let footer of footerData">
            <div [ngClass]="[footer.item.isIconizedMenu?'iconized-menu':'' , footer.item.isIconizedMenu&&!footer.item.name ? 'no-arrow':'']"
                 class="footer_box" >
              <h5 title="{{footer.item.name}}">{{footer.item.name}}</h5>
              <ul class="footer-content clearfix">
                <!--class="<%= item.item.hideInDesktop?'hidden-sm hidden-md hidden-lg':'' %> <%= item.item.hideInMobile?'hidden-xs':'' %>"-->
                <span *ngFor="let footerChildren of footer.children">
          <li [ngClass]="[footerChildren.item.hideInDesktop ? 'd-sm-none d-md-none d-lg-none':'', footerChildren.item.hideInMobile?'d-xs-none':''] ">
             <a href="{{footerChildren.item.link.replace('https://storefront-dev.rapidretail.io/','/storefront/')}}"
                target="{{footerChildren.item.target}}"
                title="{{footerChildren.item.name}}"
                [ngClass]="[footerChildren.item.isLinkNeedToTrack ? 'track-click':'']">

              <img *ngIf="footer.item.isIconizedMenu && footerChildren.item.img" src="{{footerChildren.item.img}}"
                   alt="{{footerChildren.item.name}}">
              <span *ngIf="( !footer.item.isIconizedMenu) || (footer.item.isIconizedMenu && !footerChildren.item.img) ">{{footerChildren.item.name}}</span>
            </a>
          </li>
        </span>

                <!--<li class="" *ngIf="!footer.item.isIconizedMenu"><a href="{{footerChildren.item.link}}" title="{{footerChildren.item.name}}" target="{{footer.item.target}}">{{footerChildren.item.name}}</a></li>-->
                <!--<li class="" *ngIf="footer.item.isIconizedMenu"><a href="{{footerChildren.item.link}}" title="{{footerChildren.item.name}}" target="{{footer.item.target}}"><img *ngIf="footerChildren.item.img" src="{{footerChildren.item.img}}" alt="{{footerChildren.item.name}}"></a></li>-->
              </ul>
            </div>
            </span>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-text">
        <p></p>
        <p>
          <span *ngIf="footerTextExpanded"></span>
          <a href="javascript:void(0)"><span *ngIf="!footerTextExpanded" (click)="this.footerTextExpanded = true">(Show More)</span>
            <span *ngIf="footerTextExpanded" (click)="this.footerTextExpanded = false"> (Show Less)</span>
          </a>
        </p>
      </div>
      <div class="copyright-text">
        <p> Copyright 2021 RapidOps Inc. All Rights Reserved.v1.67.0</p>
      </div>
      <div class="toparrow"><a title="Goto top" class="top-link-icon btn-top-link" href="javascript:void(0)" (click)="goToTop()">Goto
        Top</a></div>
    </div>
  </div>
</footer>
