:host /deep/ .campaign-page-main .product-section{ margin-bottom: 24px;}
:host /deep/ .campaign-page-main .section-products ul li{padding-bottom: 20px;}
:host /deep/ .campaign-page-main .selectedCampaign{ display: none; }
:host /deep/ .campaign-page-main .section-category-titlebar h2 span{color: #696B79;	font-family: Roboto;	font-size: 13px;	line-height: 15px; display: block; margin-top: 12px;}
:host /deep/ .section-category-titlebar{ margin-bottom: 30px;}
:host /deep/ .section-category-titlebar h2{float: left; 	color: #1B1B1B;	font-family: 'Rubik', sans-serif;; text-transform: uppercase;	font-size: 22px;	line-height: 25px; margin-top: 5px;}
:host /deep/ .section-category-titlebar .viewmore-btn{float: right;}
:host /deep/ .product-section{ margin-bottom: 40px;}

.page-not-found-page{border-radius: 3px;  background-color: #FFFFFF; padding:60px 20px 60px 20px; margin: 30px 0 50px 0;}
.page-not-found-main{text-align: center; width:530px; margin: 0 auto; }
.page-not-found-main h2{display: block; margin-bottom: 10px; margin-top: 10px; 	color: #282C3F;	font-family: 'Rubik', sans-serif;;	font-size: 40px;	font-weight: bold;	line-height: 47px;	text-align: center;}
.page-not-found-main span{display: block; color: #696B79; font-size: 13px;	line-height: 15px;	text-align: center;}
.page-not-found-main .btn{ margin-top: 30px;}

@media screen and (max-width:767px){
  :host /deep/ .section-category-titlebar h2{font-size: 16px;	line-height: 20px;}
  :host /deep/ .section-category-titlebar{ margin-bottom: 10px;}
  :host /deep/ .product-section{ margin-bottom: 15px;}
  :host /deep/ .campaign-page-main .section-category-titlebar h2 span{margin-top: 5px;}
  .page-not-found-main {width: 100%;}
}

