<h2>Already have an account?</h2>

<div class="sign-in-row">
    <vsf-sign-in [navigateToOnSuccess]="['/checkout', 'shipping']"
                 [displayRegisterLink]="false"></vsf-sign-in>
    <div class="or"><div>or</div></div>
    <div class="card guest">
        <div class="card-body ">
            <h2 class="text-uppercase">Countinue As Guest</h2>
            <div class="mt-5">
                <a class="btn btn-secondary"
                   [routerLink]="['./shipping']">Continue as guest</a>
            </div>
        </div>
    </div>
</div>
